Schemas/GetWeatherResult.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="CurrentWeather">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Location" type="xs:string"/>
			<xs:element name="Time" type="xs:string"/>
			<xs:element name="Wind" type="xs:string"/>
			<xs:element name="Visibility" type="xs:string"/>
			<xs:element name="Temperature" type="xs:string"/>
			<xs:element name="DewPoint" type="xs:string"/>
			<xs:element name="RelativeHumidity" type="xs:string"/>
			<xs:element name="Pressure" type="xs:string"/>
			<xs:element name="Status" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema> 