Schemas/transaction_request_bad.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="TransactionRequestList">
		<xs:complexType>
			<xs:sequence>
				<element minOccurs="0" maxOccurs="unbounded" name="TransactionRequestElement" type="impl:TransactionRequest" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="TransactionRequest">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string" />
			<xs:element name="IBAN" type="xs:string" />
			<xs:element name="VALUE" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
</xs:schema> 